# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.venv/
env/
ENV/

# ==========================
# Banco de dados
# ==========================
*.db
*.sqlite
*.sqlite3

# ==========================
# Configurações sensíveis
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Sistema Operacional
# ==========================
.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Build e distribuição
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Cache
# ==========================
.pytest_cache/
.mypy_cache/
.cache/
